<%= form_with(model: @micropost, local: true) do |f| %>
  <%# 1. When constructing a form using form_with(@user), Rails uses POST
        if @user.new_record? is true and PATCH if it is false. %>
  <%# 2. Since web browsers can’t natively send PATCH requests Rails fakes
        it with a POST request and a HIDDEN INPUT field (this field can be
        checked when the form is rendered with a web inspector) %>

  <%# f.object is an object associated with the form %>
  <%= render "shared/error_messages", object: f.object %>
  <div>
    <%= f.text_area :content, placeholder: "Compose new post...", required: "required" %>
  </div>
  <span class="image">
    <%= f.file_field :image%>
  </span>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
