<!DOCTYPE html>

<html>
  <%= render  "layouts/head" %>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}")%>
      <% end %>
      <%= yield %>
      <%= render  "layouts/footer" %>
      <%= debug(params) if Rails.env.development? %>
    </div>

    <script>
      /* Show and resize sidebar on window load */
      $(document).ready(function() {
        // BUG potential: page is loaded multiple times which causes flickering

        // let $affixElement = $('aside[data-spy="affix"]');
        let $sidebar = $("#sidebar");
        resize_width_to_parent($sidebar);
        $sidebar.css("visibility", "visible");
      });
      /* Resize sidebar on page resize */
      $(window).on("resize", function(){
        let $sidebar = $("#sidebar");
        resize_width_to_parent($sidebar);
      });
      /* Make the passed element width equal to the parent width */
      function resize_width_to_parent($element) {
        $element.width($element.parent().width());
      }
    </script>

  </body>
</html>
